[Desktop Entry]
Name=Foxlay Overlay
Comment=Voice chat VR overlay
Exec=env WAYLAND_DISPLAY=wayland-20 DISPLAY= GDK_BACKEND=wayland foxlay_overlay
Icon=steamvr
Terminal=true
Type=Application
Categories=Utility;TelephonyTools
Keywords=Discord,overlay
