[Desktop Entry]
Categories=Utility;TelephonyTools
Comment[ru_RU]=Voice chat overlay
Comment=Voice chat overlay
Exec=python Foxlay_overlay.py
Icon=steamvr
Keywords=Discord
MimeType=
Name=Discover Overlay
Path=/run/media/maxsspeaker/HDD_Games/Projects/Discover/VR_overlay/
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
