[Desktop Entry]
Categories=Utility;TelephonyTools
Comment=Voice chat VR overlay 
Exec=env WAYLAND_DISPLAY=wayland-20 DISPLAY= GDK_BACKEND=wayland python Foxlay_overlay.py
Icon=steamvr
Keywords=Discord
MimeType=
Name=Foxlay VR-Overlay
Path=/run/media/maxsspeaker/HDD_Games/Projects/Discover/VR_overlay/
StartupNotify=true
Terminal=true
TerminalOptions=
Type=Application
